@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
body {
  @apply font-roboto !important;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
.toggler svg rect {
  transition: fill 1s ease;
  transition: x 1s ease;
}

.notoggler svg rect {
  transition: x 1s ease;
}

.transition-all {
  transition: all 1s ease; /* Transition all properties over 1 second with an ease timing function */
}
.logo-wrapper .img {
  transition: all 1s ease;
}

.displaytransation {
  transition: all 1s ease;
}
